<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.mapper.CmsSubjectMapper">

    <resultMap id="BaseResultMap" type="com.manage.model.CmsSubject">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="pic" jdbcType="VARCHAR" property="pic" />
        <result column="recommend_status" jdbcType="INTEGER" property="recommendStatus" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="collect_count" jdbcType="INTEGER" property="collectCount" />
        <result column="read_count" jdbcType="INTEGER" property="readCount" />
        <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
        <result column="album_pics" jdbcType="VARCHAR" property="albumPics" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="show_status" jdbcType="INTEGER" property="showStatus" />
        <result column="forward_count" jdbcType="INTEGER" property="forwardCount" />
        <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.manage.model.CmsSubject">
        <result column="content" jdbcType="LONGVARCHAR" property="content" />
    </resultMap>

    <sql id="Base_Column_List">
        id, category_id, title, pic, recommend_status, create_time, collect_count,
    read_count, comment_count, album_pics, description, show_status, forward_count, category_name
    </sql>

    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cms_subject
        where show_status=1
        <if test="categoryId != null">
            and category_id=#{categoryId,jdbcType=BIGINT}
        </if>
                        <if test="showStatus!=null">
                            and show_status=#{showStatus,jdbcType=INTEGER}
                        </if>
    </select>

    <select id="selectBySubject" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cms_subject
        <if test="_parameter!=null">
            <where>
                <if test="categoryName!=null">
                    and category_name like #{categoryName,jdbcType=VARCHAR}
                </if>
            </where>
        </if>
    </select>

    <select id="selectByCategoryId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cms_subject
        where category_id = #{categoryId,jdbcType=BIGINT}
    </select>

    <update id="update" parameterType="map">
        update cms_subject
        <set>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                pic = #{pic,jdbcType=VARCHAR},
            </if>
            <if test="recommendStatus != null">
                recommend_status = #{recommendStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="collectCount != null">
                collect_count = #{collectCount,jdbcType=INTEGER},
            </if>
            <if test="readCount != null">
                read_count = #{readCount,jdbcType=INTEGER},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="albumPics != null">
                album_pics = #{albumPics,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="showStatus != null">
                show_status = #{showStatus,jdbcType=INTEGER},
            </if>
            <if test="forwardCount != null">
                forward_count = #{forwardCount,jdbcType=INTEGER},
            </if>
            <if test="categoryName != null">
                category_name = #{categoryName,jdbcType=VARCHAR},
            </if>
            </set>
        where category_id = #{categoryId,jdbcType=BIGINT}
    </update>

    <delete id="deleteByCateIds">
        delete from cms_subject
        where cms_subject.category_id in
        <foreach collection="ids" index="index" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cms_subject
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="com.manage.model.CmsSubject">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into cms_subject
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="pic != null">
                pic,
            </if>
            <if test="recommendStatus != null">
                recommend_status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="collectCount != null">
                collect_count,
            </if>
            <if test="readCount != null">
                read_count,
            </if>
            <if test="commentCount != null">
                comment_count,
            </if>
            <if test="albumPics != null">
                album_pics,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="showStatus != null">
                show_status,
            </if>
            <if test="forwardCount != null">
                forward_count,
            </if>
            <if test="categoryName != null">
                category_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                #{pic,jdbcType=VARCHAR},
            </if>
            <if test="recommendStatus != null">
                #{recommendStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="collectCount != null">
                #{collectCount,jdbcType=INTEGER},
            </if>
            <if test="readCount != null">
                #{readCount,jdbcType=INTEGER},
            </if>
            <if test="commentCount != null">
                #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="albumPics != null">
                #{albumPics,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="showStatus != null">
                #{showStatus,jdbcType=INTEGER},
            </if>
            <if test="forwardCount != null">
                #{forwardCount,jdbcType=INTEGER},
            </if>
            <if test="categoryName != null">
                #{categoryName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <delete id="delete">
        delete from cms_subject
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <update id="updateById">
        update cms_subject
        <set>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                pic = #{pic,jdbcType=VARCHAR},
            </if>
            <if test="recommendStatus != null">
                recommend_status = #{recommendStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="collectCount != null">
                collect_count = #{collectCount,jdbcType=INTEGER},
            </if>
            <if test="readCount != null">
                read_count = #{readCount,jdbcType=INTEGER},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="albumPics != null">
                album_pics = #{albumPics,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="showStatus != null">
                show_status = #{showStatus,jdbcType=INTEGER},
            </if>
            <if test="forwardCount != null">
                forward_count = #{forwardCount,jdbcType=INTEGER},
            </if>
            <if test="categoryName != null">
                category_name = #{categoryName,jdbcType=VARCHAR},
            </if>
        </set>
        where id=#{id,jdbcType=BIGINT}
    </update>

    <select id="getCategoryId" resultType="java.lang.Long">
        select category_id
        from cms_subject
        where id=#{id,jdbcType=BIGINT}
    </select>
</mapper>
