<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.mapper.CmsSubjectCategoryMapper">
    <resultMap id="BaseResultMap" type="com.manage.model.CmsSubjectCategory">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="subject_count" jdbcType="INTEGER" property="subjectCount" />
        <result column="show_status" jdbcType="INTEGER" property="showStatus" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
    </resultMap>
    <sql id="Base_Column_List">
        id,name,icon,subject_count,show_status,sort
    </sql>


    <select id="selectBySubjectCategory" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cms_subject_category
        <if test="_parameter!=null">
            <where>
                <if test="name!=null">
                    and name like #{name,jdbcType=VARCHAR}
                </if>
<!--                <if test="showStatus!=null">-->
<!--                    and show_status=#{showStatus,jdbcType=INTEGER}-->
<!--                </if>-->
            </where>
        </if>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.manage.model.CmsSubjectCategory">
        update cms_subject_category
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="icon!=null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="subjectCount!=null">
                subject_count = #{subjectCount,jdbcType=INTEGER},
            </if>
            <if test="showStatus!=null">
                show_status = #{showStatus,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByIds" parameterType="com.manage.model.CmsSubjectCategory">
        update cms_subject_category
        <set>
            <if test="showStatus!=null">
                show_status = #{showStatus,jdbcType=INTEGER},
            </if>
        </set>
        where id in
        <foreach collection="ids" index="index" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </update>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cms_subject_category
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="com.manage.model.CmsSubjectCategory">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into cms_subject_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="subjectCount != null">
                subject_count,
            </if>
            <if test="showStatus != null">
                show_status,
            </if>
            <if test="sort != null">
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="subjectCount != null">
                #{subjectCount,jdbcType=INTEGER},
            </if>
            <if test="showStatus != null">
                #{showStatus,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="update">
        update cms_subject_category
        <set>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="subjectCount != null">
                subject_count = #{subjectCount,jdbcType=INTEGER},
            </if>
            <if test="showStatus != null">
                show_status = #{showStatus,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByIds">
        delete from cms_subject_category
        where id in
        <foreach collection="ids" index="index" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <select id="getName" resultType="java.lang.String">
        select name
        from cms_subject_category
        where id=#{id,jdbcType=BIGINT}
    </select>

    <select id="getSubjectCount" resultType="int">
        select subject_count
        from cms_subject_category
        where id=#{id,jdbcType=BIGINT}
    </select>

</mapper>
