<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.mapper.FmsFoodMapper">
    <resultMap id="BaseResultMap" type="com.manage.model.FmsFood">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="food_category_id" jdbcType="BIGINT" property="foodCategoryId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="pic" jdbcType="VARCHAR" property="pic" />
        <result column="food_sn" jdbcType="VARCHAR" property="foodSn" />
        <result column="recommand_status" jdbcType="INTEGER" property="recommandStatus" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="food_category_name" jdbcType="VARCHAR" property="foodCategoryName" />
        <result column="calorie" jdbcType="INTEGER" property="calorie" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="unit" jdbcType="VARCHAR" property="unit" />
        <result column="keywords" jdbcType="VARCHAR" property="keywords" />
        <result column="note" jdbcType="VARCHAR" property="note" />
        <result column="album_pics" jdbcType="VARCHAR" property="albumPics" />
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.manage.model.FmsFood">
        <result column="detail_title" jdbcType="VARCHAR" property="detailTitle" />
        <result column="detail_desc" jdbcType="VARCHAR" property="detailDesc" />
        <result column="detail_html" jdbcType="VARCHAR" property="detailHtml" />
        <result column="detail_mobile_html" jdbcType="VARCHAR" property="detailMobileHtml" />
    </resultMap>
    <sql id="Base_Column_List">
        id, food_category_id, name, pic, food_sn,recommand_status,
    sort, food_category_name, calorie , description,
    unit, keywords, note, album_pics
    </sql>
    <sql id="Blob_Column_List">
        detail_desc, detail_html, detail_mobile_html
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from fms_food
        where food_category_id = #{id,jdbcType=BIGINT}
    </select>

    <update id="updateFood" parameterType="map">
        update fms_food
        <set>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="foodCategoryId != null">
                food_category_id = #{foodCategoryId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                pic = #{pic,jdbcType=VARCHAR},
            </if>
            <if test="foodSn != null">
                food_sn = #{foodSn,jdbcType=VARCHAR},
            </if>
            <if test="recommandStatus != null">
                recommand_status = #{recommandStatus,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="foodCategoryName != null">
                food_category_name = #{foodCategoryName,jdbcType=VARCHAR},
            </if>
            <if test="calorie != null">
                calorie = #{calorie,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="unit != null">
                unit = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                keywords = #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                note = #{note,jdbcType=VARCHAR},
            </if>
            <if test="albumPics != null">
                album_pics = #{albumPics,jdbcType=VARCHAR},
            </if>
            <if test="detailTitle != null">
                detail_title = #{detailTitle,jdbcType=VARCHAR},
            </if>
            <if test="detailDesc != null">
                detail_desc = #{detailDesc,jdbcType=LONGVARCHAR},
            </if>
            <if test="detailHtml != null">
                detail_html = #{detailHtml,jdbcType=LONGVARCHAR},
            </if>
            <if test="detailMobileHtml != null">
                detail_mobile_html = #{detailMobileHtml,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where food_category_id = #{foodCategoryId,jdbcType=BIGINT}
    </update>

    <select id="selectByFood" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from fms_food
        <if test="_parameter != null">
            <where>
                <if test="name!=null">
                    and name like #{name,jdbcType=VARCHAR}
                </if>
                <if test="foodSn!=null">
                    and food_sn like #{foodSn,jdbcType=VARCHAR}
                </if>
                <if test="foodCategoryId!=null">
                    and food_category_id = #{foodCategoryId,jdbcType=BIGINT}
                </if>
            </where>
        </if>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.manage.model.FmsFood">
        update fms_food
        <set>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="foodCategoryId != null">
                food_category_id = #{foodCategoryId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                pic = #{pic,jdbcType=VARCHAR},
            </if>
            <if test="foodSn != null">
                food_sn = #{foodSn,jdbcType=VARCHAR},
            </if>
            <if test="recommandStatus != null">
                recommand_status = #{recommandStatus,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="foodCategoryName != null">
                food_category_name = #{foodCategoryName,jdbcType=VARCHAR},
            </if>
            <if test="calorie != null">
                calorie = #{calorie,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="unit != null">
                unit = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                keywords = #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                note = #{note,jdbcType=VARCHAR},
            </if>
            <if test="albumPics != null">
                album_pics = #{albumPics,jdbcType=VARCHAR},
            </if>
            <if test="detailTitle != null">
                detail_title = #{detailTitle,jdbcType=VARCHAR},
            </if>
            <if test="detailDesc != null">
                detail_desc = #{detailDesc,jdbcType=LONGVARCHAR},
            </if>
            <if test="detailHtml != null">
                detail_html = #{detailHtml,jdbcType=LONGVARCHAR},
            </if>
            <if test="detailMobileHtml != null">
                detail_mobile_html = #{detailMobileHtml,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <insert id="insertSelective" parameterType="com.manage.model.FmsFood">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into fms_food
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="foodCategoryId != null">
                food_category_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="pic != null">
                pic,
            </if>
            <if test="foodSn != null">
                food_sn,
            </if>
            <if test="recommandStatus != null">
                recommand_status,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="foodCategoryName != null">
                food_category_name,
            </if>
            <if test="calorie != null">
                calorie,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="keywords != null">
                keywords,
            </if>
            <if test="note != null">
                note,
            </if>
            <if test="albumPics != null">
                album_pics,
            </if>
            <if test="detailTitle != null">
                detail_title,
            </if>
            <if test="detailDesc != null">
                detail_desc,
            </if>
            <if test="detailHtml != null">
                detail_html,
            </if>
            <if test="detailMobileHtml != null">
                detail_mobile_html,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="foodCategoryId != null">
                #{foodCategoryId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                #{pic,jdbcType=VARCHAR},
            </if>
            <if test="foodSn != null">
                #{foodSn,jdbcType=VARCHAR},
            </if>
            <if test="recommandStatus != null">
                #{recommandStatus,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="foodCategoryName != null">
                #{foodCategoryName,jdbcType=VARCHAR},
            </if>
            <if test="calorie != null">
                #{calorie,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                #{note,jdbcType=VARCHAR},
            </if>
            <if test="albumPics != null">
                #{albumPics,jdbcType=VARCHAR},
            </if>
            <if test="detailTitle != null">
                #{detailTitle,jdbcType=VARCHAR},
            </if>
            <if test="detailDesc != null">
                #{detailDesc,jdbcType=LONGVARCHAR},
            </if>
            <if test="detailHtml != null">
                #{detailHtml,jdbcType=LONGVARCHAR},
            </if>
            <if test="detailMobileHtml != null">
                #{detailMobileHtml,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <delete id="deleteByIds">
        delete
        from fms_food
        where id in
        <foreach collection="ids" index="index" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <update id="updateStatusByIds" parameterType="com.manage.model.FmsFood">
        update fms_food
        <set>
            <if test="recommendStatus != null">
                recommand_status = #{recommendStatus,jdbcType=INTEGER},
            </if>
        </set>
        where id in
        <foreach collection="ids" index="index" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </update>
</mapper>
