<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.mapper.HomeAdvertiseMapper">

    <resultMap id="BaseResultMap" type="com.manage.model.HomeAdvertise">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="pic" jdbcType="VARCHAR" property="pic" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="click_count" jdbcType="INTEGER" property="clickCount" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="note" jdbcType="VARCHAR" property="note" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name, type, pic, start_time, end_time, status, click_count,  url,
    note, sort
    </sql>

    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from home_advertise
        <if test="_parameter != null">
            <where>
                <if test="name!=null">
                    and name like #{name,jdbcType=VARCHAR}
                </if>
                <if test="type!=null">
                    and type = #{type,jdbcType=INTEGER}
                </if>
                <if test="endTime!=null">
                    and end_time <![CDATA[>=]]> #{startTime,jdbcType=TIMESTAMP}
                </if>
                <if test="endTime!=null">
                    and end_time <![CDATA[<=]]> #{endTime,jdbcType=TIMESTAMP}
                </if>
            </where>
        </if>
        order by sort desc
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from home_advertise
        where id = #{id,jdbcType=BIGINT}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.manage.model.HomeAdvertise">
        update home_advertise
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="pic != null">
                pic = #{pic,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="clickCount != null">
                click_count = #{clickCount,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                note = #{note,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <insert id="insert" parameterType="com.manage.model.HomeAdvertise">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into home_advertise (name, type, pic,
        start_time, end_time, status,
        click_count, url,
        note, sort)
        values (#{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{pic,jdbcType=VARCHAR},
        #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER},
        #{clickCount,jdbcType=INTEGER},#{url,jdbcType=VARCHAR},
        #{note,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER})
    </insert>

    <delete id="deleteByIds">
        delete from
            home_advertise
        where id in
        <foreach collection="ids" index="index" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <select id="selectAdvertise" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from home_advertise
        where status=1
        order by sort desc
    </select>
</mapper>
