<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.mapper.SmsSportCategoryMapper">

    <resultMap id="BaseResultMap" type="com.manage.model.SmsSportCategory">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="level" jdbcType="INTEGER" property="level" />
        <result column="nav_status" jdbcType="INTEGER" property="navStatus" />
        <result column="show_status" jdbcType="INTEGER" property="showStatus" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.manage.model.SmsSportCategory">
        <result column="description" jdbcType="LONGVARCHAR" property="description" />
    </resultMap>
    <sql id="Base_Column_List">
        id, parent_id, name, level, nav_status, show_status, sort, icon, keywords
    </sql>
    <sql id="Blob_Column_List">
        description
    </sql>
    <select id="selectByParentId" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from sms_sport_category
        where parent_id=#{parentId,jdbcType=BIGINT}
    </select>

    <update id="updateBySmsSportCategory">
        update sms_sport_category
        <set>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="navStatus != null">
                nav_status = #{navStatus,jdbcType=INTEGER},
            </if>
            <if test="showStatus != null">
                show_status = #{showStatus,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                keywords = #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}

    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from sms_sport_category
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="selectById" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from sms_sport_category
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="com.manage.model.SmsSportCategory">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sms_sport_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="navStatus != null">
                nav_status,
            </if>
            <if test="showStatus != null">
                show_status,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="keywords != null">
                keywords,
            </if>
            <if test="description != null">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="navStatus != null">
                #{navStatus,jdbcType=INTEGER},
            </if>
            <if test="showStatus != null">
                #{showStatus,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update">
        update sms_sport_category
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="navStatus != null">
                nav_status = #{navStatus,jdbcType=INTEGER},
            </if>
            <if test="showStatus != null">
                show_status = #{showStatus,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="keywords != null">
                keywords = #{keywords,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByCategory" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sms_sport_category
    </select>
</mapper>
